########################################################
### MACROS   ############################################
##########################################################

### SHUTOFF THE MASCHINE AFTER PRINT
[output_pin RELAY_PIN]
#configure the relay signal pin SKRpro V1.2 EXT1 port
pin = PC9

[gcode_macro _TURNOFF_MAINS]
#change relays state to off
gcode:
  SET_PIN PIN=RELAY_PIN VALUE=1


[gcode_macro TURNOFF_AFTERPRINT]
#if the hotend temperature falls below 50, mains is switched off
gcode:
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=0 MAXIMUM=50
  _turnoff_mains 

[gcode_macro PID_TUNE]
gcode:
	{% set e_tune = params.TEMP|default(0)|int %}
    {% if e_tune > 90 %}
    {% set output = ["PID_CALIBRATE HEATER="] %} 
    {% set dummy = output.append("extruder TARGET=%.2f" % e_tune) %}
    {% else %}
    {% set output = ["PID_CALIBRATE HEATER="] %} 
    {% set dummy = output.append("heater_bed TARGET=%.2f" % e_tune) %}
    {% endif %}
    {output|join("")}

##########################################
###   4 Channel Relais    #################
############################################
[output_pin PD0_PIN]
#configure the relay signal pin SKRpro V1.2 EXT1 port
pin = PD0
value: 1

[gcode_macro M42]
#change relays state to off
gcode:
  SET_PIN PIN=PD0_PIN VALUE=0

[gcode_macro M43]
#change relays state to off
gcode:
  SET_PIN PIN=PD0_PIN VALUE=1

[output_pin PD2_PIN]
#configure the relay signal pin SKRpro V1.2 EXT1 port
pin = PD2
value: 1

[gcode_macro TMC_FAN]
#change relays state to off
gcode:
  SET_PIN PIN=PD2_PIN VALUE=0

[output_pin PD5_PIN]
#configure the relay signal pin SKRpro V1.2 EXT1 port
pin = PD5
value: 1

[gcode_macro PD5]
#change relays state to off
gcode:
  SET_PIN PIN=PD5_PIN VALUE=0

[output_pin PE2_PIN]
#configure the relay signal pin SKRpro V1.2 EXT1 port
pin = PE2
value: 1

[gcode_macro PE2]
#change relays state to off
gcode:
  SET_PIN PIN=PE2_PIN VALUE=0

[gcode_shell_command backup_klipper]
command: /home/pi/backup-klipper.sh
timeout: 240.
verbose: True

[gcode_macro backup]
gcode:
  RUN_SHELL_COMMAND CMD=backup_klipper

[force_move]
# Enable commands that force potentially unsafe movement
enable_force_move: True

